/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";

$red: rgb(221, 81, 56);
$navbar-default-bg: rgb(221, 81, 56);
$navbar-default-link-color: #fff;
$body-bg: #F0EFEE;
$white: #fff;
$blue: #016cc7;
$yellow: #FFC000;
$title: #0d3d56;
$time: #b2b2b2;
$text: #0d3d56;

@import "bootstrap";

.navbar {
  border-radius: 0;
  li a {
    font-weight: bold;
  }
  form {
    button {
      background: $white;
      border-radius: 0 !important;
      background: $white;
    }
    .form-group input {
      border-radius: 0 !important;
    }
  }
}
.reviews_index {
  .panel-heading {
    padding: 0;
  }
}

@import "reviews";