<div class="review_show">
  <div class="review_show_inner">
    <h2 class="text-center review_show_title"><%= @review.title %></h2>
    <p class="text-center p_time"><span class="review_show_created_at"><%= @review.created_at %></span></p>
    <hr>
    <p class="p_preview_image"><img src="<%= @review.preview_image %>" class="img-responsive preview_image img-circle"></p>
    <hr>
    <div class="review_show_content">
      <%= raw @review.content %>
    </div>
  </div>
</div>